.review{
    margin: auto;
    top: 25px;
    left: 65%;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
    background-color: #F9DCC4;
}
.star{
    margin: auto;
    top: 45px;
    left: 65%;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
    background-color: #F9DCC4;
}

.person-icon{
    color: black;
}

.star-icon{
    height: 12px;
    width: 12px;
}