<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Appointment Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <form>
      <ion-input
      name="name"
      [(ngModel)]="name"
      class="name"
      type="name"
      placeholder="Name"
      >Name</ion-input>
      <ion-input
      name="email"
      [(ngModel)]="email"
      class="email"
      type="email"
      placeholder="Email"
      >email</ion-input>
      <ion-select
        name="services"
        [(ngModel)]="services"
        placeholder="Select Services"
        [value]="salonServiceParams"
        class="select-option-text"
      >
        <ion-select-option
          *ngFor="let services of servicesList"
          value="{{services}}"
        >
          {{services}}</ion-select-option
        >
      </ion-select>
      <ion-select
        name="stylist"
        [(ngModel)]="stylist"
        placeholder="Select stylist"
        [value]="salonstylistParams"
        class="select-option-text"
      >
        <ion-select-option
        *ngFor="let stylist of stylistList"
        value="{{stylist}} "
        >
        {{stylist}}</ion-select-option
        >
      </ion-select>
      <ion-datetime #dateTimePicker (ionChange)="onDateChange($event)" [isDateEnabled]="isPastDate" [hourValues]="selectedSalonHours" minuteValues="0,30" hourCycle="h23"></ion-datetime>
    </form>

    <button class="add-app" (click)="addAppointment()">Add Appointment</button>


  </ion-card>
  <ion-text color="primary">
    <h1>Other Salons:</h1>
  </ion-text>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let salon of salonData">
      <ion-card id="img" button [routerLink]="['/saloninter/', salon.id]">
        <img id="size" style="max-width:100%; max-height:100%;" [src]="salon?.logoUrl" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
