.container{
    box-shadow: none;
    padding: 10px;
}

.customer-info1{
    padding: 10px;
    margin: 5px;
    width: 98%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.customer-info2 {
    padding: 10px;
    margin: 5px;
    width: 98%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.customer-info3 {
    padding: 10px;
    margin: 5px;
    width: 98%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.customer-info4 {
    padding: 10px;
    margin: 5px;
    width: 98%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.customer-info5 {
    padding: 10px;
    margin: 5px;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.customer-info6 {
    padding: 10px;
    margin: 5px;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #f4978e;
}

.add-app{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    background-color: #f4978e;
}

.select-option-text{
    color: black;
}

