<ion-header>
  <ion-toolbar>    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Manage Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Monday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Monday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Monday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="monday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Tuesday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Tuesday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Tuesday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="tuesday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Wednesday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Wednesday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Wednesday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="wednesday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Thursday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Thursday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Thursday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="thursday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Friday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Friday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Friday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="friday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Saturday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Saturday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Saturday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="saturday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
        <ion-col><ion-label>{{daysOfWeek.Sunday}}</ion-label></ion-col>
        <ion-col><ion-label>{{ dayScheduleValues[daysOfWeek.Sunday] }}</ion-label></ion-col>
  </ion-item>
  <ion-item>
    <ion-grid>
      
      <ion-row>
        <ion-col><ion-range [name]="daysOfWeek[daysOfWeek.Sunday]" [ticks]="true" [dualKnobs]="true" [snaps]="true" [min]="0" [max]="48" (ionChange)="onIonChange($event)" [value]="sunday"></ion-range></ion-col>
      </ion-row>
    </ion-grid>      
  </ion-item>
  </ion-list>
  
  <ion-button (click)="saveSchedule()" shape="round" expand="full">Save Schedule</ion-button>

</ion-content>
