<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>

<ion-content class="tab3-content">
  <div class="tab3-content-center">
    <ion-avatar class="tab3-avatar">
      <img src="assets/user.png" />
    </ion-avatar>
    <h2>{{userData[0]?.firstName}} {{userData[0]?.lastName}}</h2>
  
    <div class="center">
      <button
        *ngIf="userData.length==0"
        [routerLink]="['/customer-login']"
        class="button"
      >
        Login
      </button>
      <button
        *ngIf="userData.length==0"
        [routerLink]="['/signup']"
        class="button"
      >
        Sign Up
      </button>
      <button
        *ngIf="userData.length==0||userData.length!=0"
        [routerLink]="['/salonregis/',userData[0]?.uid]"
        class="button"
      >
        Start your Salon's journey
      </button>
      <button
        *ngIf="userData.length!=0 && userData[0].type=='salon'"
        [routerLink]="['/dashboard']"
        class="button"
      >
        Your Salon
      </button>
      <button *ngIf="userData.length!=0" (click)="logout()" class="button">
        Logout
      </button>
    </div>
  </div>
</ion-content>
