.appt-sched{
    margin: auto;
    top: 25px;
    left: 10px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: relative;
    background-color: #f4978e;
}

.services{
    margin: auto;
    top: 85px;
    left: 10px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: absolute;
    background-color: #f4978e;
}

.ratings{
    margin: auto;
    top: 205px;
    left: 10px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: absolute;
    background-color: #f4978e;
}
.stylist{
    margin: auto;
    top: 145px;
    left: 10px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: absolute;
    background-color: #f4978e;
}

.manage-sched{
    margin: auto;
    top: 215px;
    left: 10px;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: relative;
    background-color: #f4978e;
}

.home-icon{
    color: black;
}