<ion-header>
  <ion-toolbar>
    <ion-title> Salon Dashboard</ion-title>
    <ion-button type="Button" expanded="block"[routerLink]="['/tabs/tab1']" slot="start" fill="clear" ><ion-icon name="arrow-back" class="home-icon"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button [routerLink]="['/apptsched']" class="appt-sched">
    View Appointments
  </button>
  <button [routerLink]="['/manageschedule']" class="manage-sched">
    Manage Schedule
  </button>
  <button [routerLink]="['/addservice']" class="services">
    Manage Services
  </button>
  <button [routerLink]="['/stylist']" class="stylist">
    Add Stylist
  </button>
  <button [routerLink]="['/ratings']" class="ratings">
    Ratings/Feedbacks
  </button>
</ion-content>


<ion-button type="button" expand="block" (click)="logout()">Logout</ion-button>
