.changepass{
    margin: auto;
    top: 50%;
    left: 16%;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    background-color: #ffb5a7;
}

.center{
    top: 15%;
    left: 10%;
    width: 80%;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
}
.img {
    margin-top: 20%;
}
.shadow {
    box-shadow: none;
  }